
* {
  Margin: 0;
  padding: 0;
}

body {
  background-color: white; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 72px;
  padding: 10px 0px;
}
.img{
    display: block;
    margin: auto;
    width: 40%;
}
#contenedor {
  font-family: "Open Sans", sans-serif;
  color: black;
  padding: 25px;
  display: flex;
  max-width: 1200px;
  margin: 60px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
h5{
  font-weight: bold;
}

.fotoCarrito{
  width: 3rem;
  margin: 0;
  padding: 10px;
}
.ocultar{
  opacity: 0;
  visibility: hidden;
}
.ver{
  opacity: 1;
  visibility: visible;
}
.carrito{
  margin: 20px;
  
}
.logo{
  width: 50px;
}
.modalContainer, .modalCarrito {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  width: 400px;
  height: 500px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}
#modalCart{
  width: 400px;
  height: 500px;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}


.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
#modalAbrir{
  border: none;

}
#modalAbrirCarrito{
  border: none;
}
input{
  justify-items: center;  
  padding: 10px;
  height: auto;
}
.formulario{
  margin: 30px;
  font-size: 18px;
  text-align: justify;

}
.formularioTitulo, .formularioNombre, .formularioMail, .formularioPass{
  text-align:center;
  padding: 10px;
}

.formularioBtn{
  justify-items: center;  
  padding: 10px;
  text-align:center
}
td{
  padding: 5px;
}